---
import BaseLayout from "../layouts/BaseLayout.astro"
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Mi Blog de Astro aprendizaje"

import { getPosts } from "./fakePost";


const post = await getPosts();
---

<BaseLayout pageTitle={pageTitle}>
    <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
     <ul>
      {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>



    
  <ul>
    {post.map(post => (
      <li>
        <h2>{post.title}</h2>
        <div >
          {post.content}
        </div> 
      </li>
    ))}
  </ul>

</BaseLayout>    
      